@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height:100vh;
    max-width: 100vw;
    overflow: hidden;
    /* overflow-y: hidden; */
    box-sizing: border-box;
}

.mainbody {
    width:100vw;
    height:100vh;
    display: flex;
    /* border:2px solid white; */
    /* box-sizing: border-box; */
    flex-direction: column;
    /* align-items: center; */
    /* gap:1px; */
}

.body {
    display: flex;
    /* border:2px solid red; */
    /* box-sizing: border-box; */
    /* position:fixed;
    top:58.92px; */
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

.left {
    background-color: rgba(37, 35, 35, 0.453);
    height: 90vh;
    /* height:667.8px; */
    /* width:26vw; */
    width: max(calc(26% - 200px), 300px);
    /* width: max(26vw , 308.763px); */
    /* padding:0 2vw; */
    /* color:rgb(126, 125, 125); */
    margin: 0px 10px 4px 10px;
    border-radius: 12px;
    /* border:2px solid red; */
    /* position:fixed; */
    /* z-index: 2; */
    overflow: hidden;
}

.leftcontent {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 100%;
    /* border:2px solid red; */
    /* gap:30px; */
    justify-content: space-between;
    /* align-items: space-between; */
}

.leftnav {
    /* border:2px solid red; */
    /* padding:10px 50px 0px 0px; */
    padding: 0.98vw 1.63vw;
    width: max(calc(26% - 20x), 280px);
    display: flex;
    /* margin:0px auto; */
    /* align-items: start; */
    justify-content: space-between;
}

.left>.leftcontent>.topleft>.leftnav>.add {
    font-size: 25px;
    color: rgb(172, 166, 166);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.left>.leftcontent>.topleft>.leftnav>.add:hover {
    background-color: rgba(77, 74, 74, 0.211);
    color: white;

}

.left>.leftcontent>.topleft>.leftnav>.library {
    color: white;
    align-self: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.left>.leftcontent>.topleft>.extraboxes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border:2px solid yellow; */
}

.left>.leftcontent>.topleft>.extraboxes>.top1,
.left>.leftcontent>.topleft>.extraboxes>.top2 {
    /* width:max(calc(25vw - 50px),295px); */
    width: 96%;
    /* width:295px; */
    height: calc(148.4px - 5px);
    display: flex;
    flex-direction: column;
    gap: 17px;
    /* flex-shrink: 2; */
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    /* padding-top:10px; */
    color: white;
    /* background-color: red; */
    /* border:2px solid red; */
    margin: 0px auto;
    background-color: #1f1f1f;
    border-radius: 7px;
}

.left>.leftcontent>.topleft>.extraboxes>.top1>.firstpl,
.left>.leftcontent>.topleft>.extraboxes>.top2>.secondpl {
    font-size: calc(1rem + 2px);
    font-weight: 900;
}

.left>.leftcontent>.topleft>.extraboxes>.top1>.firstpl2,
.left>.leftcontent>.topleft>.extraboxes>.top2>.secondpl2 {
    font-weight: 500;
    font-size: calc(1rem - 2px);
}

.left>.leftcontent>.topleft>.extraboxes>.top1>.firstplbtn,
.left>.leftcontent>.topleft>.extraboxes>.top2>.secondplbtn {
    width: 130px;
    height: 35px;
    font-weight: 700;
    /* height:90px; */
    display: inline-block;
    /* padding:0px 50px; */
    border: 1px solid #1f1f1f;
    border-radius: 22px;
}

.firstpl {
    font-size: calc(1rem + 2px);
}

.footerclass {
    height: 28.7vh;
    display: flex;
    flex-direction: column;
    /* gap:20px; */
    /* border:2px solid red; */
}

.left>.leftcontent>.footerclass>.footer {
    width: 88%;
    min-height: 2.74vh;
    font-size: 13px;
    /* margin-left:35px;
    margin-top:20px; */
    /* margin:20px auto; */
    margin-left: 20px;
    margin-bottom: 20px;
    /* border:2px solid yellow; */
    /* padding-right:267px;
    padding-right: 20px; */
    /* padding-right:300px; */
    color: #929292;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    align-items: start;
    box-sizing: border-box;
}

.left>.leftcontent>.footerclass>.cookies2 {
    width: 47px;
    /* border:2px solid red; */
    color: rgba(255, 255, 255, 0.886);
    font-size: 14px;
    margin-left: 20px;
    /* margin-top: 1.35vh; */
}

.left>.leftcontent>.footerclass>.cookies2:hover {
    cursor: pointer;
    text-decoration: underline;
}

.left>.leftcontent>.footerclass>.language {
    background-color: rgba(37, 35, 35, 0.453);
    border: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98.4px;
    box-sizing: border-box;
    padding: 9px 10px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 40px;
    border: 1px solid rgb(126, 125, 125);
    transition: transform 0.3s ease;
    /* margin:15px auto; */
}

.left>.leftcontent>.footerclass>.language:hover {
    transform: scale(1.03);
    cursor: pointer;
    border: 2px solid white;
}

.right {
    background: linear-gradient(to bottom,
            rgba(34, 33, 33, 0.892) 0vh,
            rgba(34, 33, 33, 0.892) 1vh,
            rgb(9, 9, 9) 100%);

    height: 90vh;
    /* width:72.05vw; */
    width: max(calc(100% - max(calc(26% - 200px), 300px) - 30px), 300px);
    /* width:calc(100vw - max(calc(26vw - 200px),300px)); */
    /* width:max(calc(77vw - 21px),600px); */
    /* width:500px; */
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 4px;
    /* width: max(72.05vw , 855.63px); */
    border-radius: 12px;
    /* position:absolute;
    left:max(calc(26vw - 32px),300px); */
    /* overflow-x: hidden; */
    /* box-sizing: border-box; */
    overflow-y: auto;
    /* flex-shrink: 1.5; */
    /* padding: 4px; */
    /* right:20px; */
}

.right::-webkit-scrollbar {
    width: 15px;
}

.right::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 0, 0);
    /* border-radius: 12px; */
}

.right::-webkit-scrollbar-thumb {
    background-color: rgb(94, 96, 94);
    height: 120px;

}

/* .nav{
    display:grid;
    grid-template-columns: 3.91vw 3.91vw 27.73vw 21.15vw 5vw 7vw 5vw 3.73vw 7.16VW 5.86VW 8.46VW;
    grid-template-rows: 55px;
    width:98vw;
    margin:7px auto;
    margin-bottom: 2px;
    place-items:center;
} */
.nav {
    display: flex;
    width: 98vw;
    margin: 7px auto;
    margin-bottom: 5px;
    /* border:2px solid yellow; */
    justify-content: space-between;
    /* flex-wrap:wrap; */
}

.nav>.nav1 {
    display: grid;
    grid-template-columns: 3.69vw 74.9px 462.03px;
    /* border:2px solid red; */
    align-items: center;
    justify-items: center;
    /* gap:10px; */
}

.nav>.nav2 {
    display: flex;
    /* border:2px solid blue; */
    align-items: center;
    justify-content: center;
    gap: 0.98vw;
}

.nav>.nav1>.logo {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* display:grid;
    place-items: center; */
}

.nav>.nav1>.home>img {
    height: 26px;
}

/* .nav>.nav1>.home{
    grid-column: 2/3;
    grid-row: 1/2;
} */
.homecont {
    height: 50px;
    width: 50px;
    background-color: rgb(35, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    /* top: 0;
    left: 0; */
    border-radius: 50% 50%;
    /* justify-content: center; */
    /* align-self: start; */
}

.search {
    /* grid-column: 3/4; */
    /* align-self: start; */
    /* justify-self: start; */
    /* color:white; */
    display: flex;
    align-items: center;
}

.search>input {
    /* justify-self: start; */
    /* position: relative;
    right:40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(218, 209, 209);
    width: 419.02px;
    height: 37.4px;
    border-radius: 30px;
    background: rgb(37, 36, 36);
    border: 2px solid black;
    padding: 5px 10px;
    padding-left: 70px;
    cursor: pointer;
    font-size: 1rem;
}

.search>input::placeholder {
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.549);
    font-weight: 400;
    font-size: 1rem;
    /* padding-left: 50px; */
}

@keyframes search {
    0% {
        background-color: rgb(37, 36, 36);
    }

    100% {
        background-color: rgb(60, 59, 59);
    }
}

/* .search>input:hover {
    animation: search 0.5s forwards;
    border: 0.5px solid rgb(95, 94, 94);
} */

.search>span {
    color: rgba(255, 255, 255, 0.549);
}

.searchicon {
    height: 26px;
}

.search>.searchicon {
    position: relative;
    left: 40px;
    /* left:2.6vw; */
}

.search>.extra {
    height: 26px;
    position: relative;
    left: -44px;
}

.search>.line {
    /* height:4rem; */
    height: 24px;
    width: 2px;
    background-color: #585454;
    color: white;
    position: relative;
    left: -52px;
}

.search>input:hover {
    background-color: rgb(56, 55, 55);
}

.lines{
    display:none;
}
.prem,
.supp,
.down {
    /* color:white; */
    font-size: calc(1rem - 1px);
    font-weight: 700;
    background-color: black;
    border: 2px solid black;
    /* padding: 8px; */
    /* border:2px solid red; */
    grid-row: 1/2;
    color: rgb(179, 179, 179);
}

.prem {
    grid-column: 5/6;
}

.supp {
    grid-column: 6/7;
}

.down {
    grid-column: 7/8;
    /* justify-self:right; */
}

@keyframes bold {
    0% {
        font-weight: 700;
    }

    100% {
        font-weight: 900;
    }
}

.prem:hover,
.supp:hover,
.down:hover,
.install:hover,
.signup:hover {
    color: white;
    /* animation: bold 0.5s forwards; */
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.line2 {
    height: 24px;
    width: 2px;
    background-color: white;
    color: white;
    grid-column: 8/9;
}

.install {
    display: flex;
    gap: 7px;
    grid-column: 9/10;
    grid-row: 1/2;
    background-color: black;
    border: 2px solid black;
    font-size: 1rem;
    color: #B3B3B3;
}

.install>img {
    height: 16px;
}

.signup {
    color: #B3B3B3;
    background-color: black;
    border: 2px solid black;
    font-size: 1rem;
    /* background-color: #B3B3B3; */
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top:20px;
    padding-bottom: 20px; */
    height: 40px;
    width: 100px;
    font-weight: 750;
    border-radius: 30px;
    font-size: 1rem;
    border: none;
}

.expanded {
    padding: 18px 0px;
}

.login:hover {
    width: 107px;
    padding: 22px 0px;
    transition: padding 0.2s;
    transition: width 0.2s;
    /* transform: scale(1.1, 1.1); */
}

@media (max-width: 350px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }

    .search>input {
        width: 80vw;
    }

    .left,
    .right {
        width: 100%;
        margin: 2px;
    }

    .login {
        width: 80px;
        font-size: 0.9rem;
    }

    .prem,
    .supp,
    .down,
    .install,
    .signup {
        font-size: 0.8rem;
        padding: 4px;
    }
}

@media screen and (min-width:1723px) {
    .nav>.nav1 {
        display: grid;
        grid-template-columns: 3.69vw 32.8vw 23.08vw;
        /* border:2px solid red; */
        align-items: center;
        justify-items: center;
        /* animation:replace 1s forwards; */
        /* gap:10px; */
    }

    .nav>.nav1>.search {
        justify-self: start;
    }

    .nav>.nav1>.search>input {
        width: 23vw;
    }
}

/* @media screen and (max-width:1090px) {
    .nav>.nav1>.search {
        justify-self: start;
    }
} */
@keyframes resize {
    0% {
        width: 419.02px;
    }

    100% {
        width: 27.4px;
    }
}

@keyframes resize2 {
    0% {
        width: 27.4px;
    }

    100% {
        width: 419.02px;
    }
}

@media screen and (min-width:1230px) {
    .search {
        width: 419.02px;
        display: flex;
        justify-content: start;
        align-items: center;
        justify-self: start;
        color: white;
    }

    .search>input {
        animation: resize2 0.7s forwards;
    }

    /* .search>input:hover {
        animation: search 0.5s forwards;
        border: 0.5px solid rgb(95, 94, 94);
    } */
}

@media screen and (max-width:1230px) {
    .nav>.nav1{
        grid-template-columns: 3.69vw 74.9px 100px;
    }
    .search>input[type="text"] {
        color: transparent;
    }

    .search {
        /* border:2px solid red; */
        display: flex;
        justify-content: start;
        align-items: center;
        justify-self: start;
    }

    .search>input {
        justify-self: start;
        animation: resize 0.4s forwards;
        /* width:27.4px; */
        height: 37.4px;
        border-radius: 30px;
        background: rgb(37, 36, 36);
        border: 2px solid black;
        padding: 5px 10px;
        cursor: pointer;
    }

    .search>input::placeholder {
        visibility: hidden;
    }

    .search>.extra {
        visibility: hidden;
    }

    .search>.line {
        visibility: hidden;
    }
}

/* @media screen and (max-width:1043px) {
    .nav>.nav1>.search {
        justify-self: start;
    }
    .search>.extra {
        height: 26px;
        position: relative;
        left: -3.86vw;
    }

    .search>.line {
        height: 24px;
        width: 2px;
        background-color: #585454;
        color: white;
        position: relative;
        left: -4.39vw;
    }
} */
 /* .nav2>.openmenu{
    display: none;
 } */
 .nav2>.blurblack{
    backdrop-filter:blur(5px);
    border-radius: 30px;
    width:0px;
    position:absolute;
    /* border:2px solid red; */
    right:0px;
    top:0px;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.541);
    padding-top: 17px;
    box-sizing: border-box;
    /* background-color: rgb(0, 0, 0); */
    /* background: linear-gradient(-45deg,rgb(39, 38, 38,0.5),black 70%); */
    /* box-sizing: border-box; */
 }
 .nav2>.blurblack>.topoption{
    display:flex;
    flex-direction: column;
    gap:10px;
 }
 .nav2>.blurblack>.topoption>.backarrow{
    height:1.3rem;
    display:none;
    align-self: end;
 }
 .nav2>.blurblack>.topoption>.menuline{
    background-color: rgb(53, 53, 53);
    width:0px;
    height:3px;
    border-radius: 50%;
    /* width:98%; */
 }
 @keyframes openmenu2{
    0%{
        width:0px;
    }
    100%{
        width:40vw;
    }
 }
 @keyframes closemenu{
    0%{
        width:40vw;
    }
    100%{
        width:0px;
    }
 }
 @media screen and (max-width:840px){
    /* .menuline{
        background-color: red;
        width:100px;
    } */
    .nav2>.lines{
        display:inline-block;
    }
    .prem,.supp,.down,.line2,.install,.signup,.login{
        display:none;
    }
 }